<% layout("../layouts/boilerplate") %>

  <body>
    <br>
    <h2>Edit your Listing</h3>
      <br>
    <div>
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"/>
     </div>
     <br>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea
            name="listing[description]"
            class="form-control"
         ><%= listing.description %></textarea>
      </div>
      <br />
      <div>     
        <label for="price" class="form-label">Price per night</label>
         <input name="listing[price]" value="<%= listing.price %>" class="form-control" type="number" />
      </div>
      <br />
      <div>
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value="<%= listing.country %>" class="form-control" type="text" />
      </div>
      <br />
      <div>
        <label for="location" class="form-label">Location</label>       
        <input
        name="listing[location]"
        type="text"
        value="<%= listing.location %>"
        class="form-control"
      /></div>
      <button class="btn btn-success">Edit</button>
    </form>
    
  </body>
  <br>
  <br>
