<% layout("../layouts/boilerplate") %>

<body>
    <h3 id="l2">Listing details</h3>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li>&#8377;<%= listing.price.toLocaleString("en-IN") %> per night</li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li> 
    </ul>  
    <br />
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button>Delete this listing</button>
    </form>
    <div>
    <h4 style="margin-top: 2rem ; margin-bottom: 1rem;">Leave a Review</h4>
    <form method="post" action="/listings/<%=listing._id %>/reviews">
    <div>
    <label for="rating" class="form-label">Rating</label>
    <input type="range" min="1" max="5" id="rating" name="review[rating]">
    </div>
    <div>
    <label for="comment" class="form-label">Comments</label>
    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
    
    </div>
    <button style="margin-top: 1rem;">Submit</button>
  </form>
  <br>

  <h4>All Reviews</h4>
  <ul>
  <% for(review of listing.review) { %>
    <li style="font-size: x-large;"> <%=review.comment%> , <%=review.rating%> star</li>
    
    <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
    <button class="btn btn-sm btn-dark">Delete review</button>
  </form>
 <% }%>
</ul>
  
</div>

</body>
